        <div class="row">
            <div class="col-sm-7 text-center">
                <ul class="pagination pagination-dark mt-4">

                    <li class="page-item ms-auto {{ pagination.getCurrentPage <= 1 ? 'disabled' }}">
                        <a class="page-link {{ pagination.getCurrentPage <= 1 ? 'bg-gray-200' }}" href="?page={{ pagination.getCurrentPage - 1 }}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>

                    {% for i in 1..pagination.getTotalPages %}
                    <li class="page-item  {{ i == pagination.getCurrentPage ? 'active' : '' }}">
                        <a class="page-link {{ i == pagination.getCurrentPage ? 'text-white' : '' }}" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endfor %}

                    <li class="page-item {{ pagination.getCurrentPage >= pagination.getTotalPages ? 'disabled' }}">
                        <a class="page-link {{ pagination.getCurrentPage >= pagination.getTotalPages ? 'bg-gray-200' }}" href="?page={{ pagination.getCurrentPage + 1 }}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
