{% extends 'frontend/layout.html.twig' %}

{% block title %}
<title>Blog PHP</title>
{% endblock %}


{% block content %}

<!-- HEADER -->
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75"
        style="background-image: url('../public/assets/img/covers/{{post.imgCover}}'); transform: translate3d(0px, 0px, 0px);">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">{{post.title}}</h1>
                    <p class="lead mb-4 text-white opacity-8">{{post.excerpt}}</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- POST -->
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">

    <section class="py-5 mt-5">
        <div class="container">
            {% include 'flash/_messageFlash.twig' %}
            <div class="row">
                <div class="col-lg-8 ms-auto me-auto">
                    <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{post.status}}</h6>
                    <h2 class="title mb-4">{{post.title}}</h2>
                    <p class="text-dark">
                        {{post.content |striptags('<h2><h3>')|raw}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-2">
                    <small>Posté le {{post.createdDate | format_datetime('medium', 'short', locale='fr') }}</small>
                    {% if post.updateDate %}
                    <br class="d-lg-none">
                    <small> <span class="d-none d-lg-inline">|</span> Modifié le {{ post.updateDate | format_datetime('medium', 'short', locale='fr') }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <!-- AUTEUR -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ms-auto me-auto">
                    <div class="row">
                        <div class="col-md-6 my-auto">
                            <div>
                                {% for category in post.category %}
                                <span class="badge badge-sm bg-gradient-primary">{{ category.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <hr class="dark horizontal">

                    <div class="d-flex">
                        <div>
                            <a>
                                <div class="position-relative">
                                    <div class="blur-shadow-avatar">
                                        <img class="avatar avatar-xxl border-radius-xl"
                                            src="../public/assets/img/profil/{{post.author.picture}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ms-4 my-auto">
                            <h5>{{post.author.nickname}}</h5>
                            <p class="text-sm mb-0">{{post.author.biography}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>





<!-- COMMENTAIRES -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ms-auto me-auto">
                <div>
                    <!-- NOMBRE COMMENTAIRES -->
                    <h4 class="text-center mb-5">{{ totalComments }} Commentaire{{ totalComments > 1 ? 's': ''}}</h4>

                    {% for comment in comments %}
                    {% if comment.commentStatus == 'published' %}
                    <div class="d-flex">
                        <div>
                            <a href="javascript:;">
                                <div class="position-relative">
                                    <div class="blur-shadow-avatar rounded-circle">
                                        <img class="avatar" src="../public/assets/img/profil/{{comment.author.picture}}"
                                            alt="...">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ms-3">
                            <h6>{{ comment.author.nickname }} <span class="text-muted text-xs">·
                                    {{ comment.createdDate | format_datetime('medium', 'short', locale='fr') }}</span>
                            </h6>

                            <p>{{ comment.content }}</p>

                            {% if comment.author.id == userId %}
                            <div class="ms-auto text-end">
                                <a href="javascript:;" class="btn text-dark px-2 btn-link" rel="tooltip" title=""
                                    data-original-title="Update Comment">
                                    <i class="fa fa-pen"></i> Modifier
                                </a>
                                <a href="/commentdelete/{{comment.id}}" class="btn text-danger px-2 btn-link">
                                    <i class="fas fa-trash"></i> Supprimer
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

                <!-- FORMULAIRE COMMENTAIRE -->
                {% if userId %}
                <h4 class="text-center mb-4 mt-5">Poster un commentaire</h4>
                <div class="d-flex">
                    <div>
                        <a class="author" href="javascript:;">
                            <div class="position-relative">
                                <div class="blur-shadow-avatar rounded-circle">
                                    <img class="avatar" alt="64x64" src="../public/assets/img/profil/{{ picture }}">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ms-3 w-100">
                        <!-- Action addcomment + passer l'id du post -->
                        <form action="/comment/create" method="post">
                            <div class="input-group input-group-static">
                                <label for="comment">Votre message</label>
                                <textarea id="comment" name="content" class="form-control"
                                    placeholder="Exprimez vous..." rows="4" required="required"></textarea>
                                <input type="hidden" name="postId" value="{{post.id}}">
                            </div>
                            <div>
                                <button type="submit" class="btn bg-gradient-dark pull-end mt-2">
                                    <i class="fa fa-send me-2"></i> Poster
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
